.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	border: 2px solid black;
	gap: 10px;
}

.inputAmount {
	height: 40px;
	width: 100%;
	padding: 8px;
	text-align-last: center;
	border: 1px solid black;
	&::placeholder {
		color: grey;
	}
}

.buttonWrapper {
	display: flex;
	gap: 20px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.priceWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 100%;
}

.price {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 50px;
	border: 1px solid black;
}
